<div class="container">
    <h1><%= @task.title.capitalize %></h1>
    <p class="details"><%= @task.details.capitalize %></p>
    <% if @task.completed == true %>
    <p><i class="far fa-check-square"></i> This task is completed.</p>
    <% else %>
    <p><i class="far fa-square"></i> This task is not completed.</p>
    <% end %>

<h4><%= link_to "Back to list", tasks_path %></h4>
</div>


